$white: white;
$green: #58b88c;
$red: #ff0002;
$blue: #1890ff;
$yellow: #f1b500;
$black: #24263b;
$gray: #5c6174;
$orange: #ff641d;
$bdgray: #e8e8e8;
$bggray: #eff2f8;
$bgblue: #188fff80;
$bggreen: #58b88c;
$verticalSpaceDefault: 8px;
$horizontalSpaceDefault: 16px;
